<section id="portfolio" class="add-padding">
    <div class="container">
        <h1 class="big-text text-center scrollimation fade-in">My Projects</h1>

        <div id="filter-works">
            <ul>
                <li class="active scrollimation fade-right d1">
                    <a href="#" data-filter="*">All</a>
                </li>
                <li class="scrollimation fade-right">
                    <a href="#" data-filter=".school">School</a>
                </li>
                <li class="scrollimation fade-right">
                    <a href="#" data-filter=".lego">Lego</a>
                </li>
            </ul>
        </div>
        <div id="project-preview">
            <span class="close-preview">&times;</span>

            <div id="project-slider" class="flexslider"></div>
            <h1 id="project-title"></h1>

            <div id="project-content"></div>
        </div>
    </div>
    <div class="container masonry-wrapper">
        <div id="projects-container">
            <article class="project-item school">
                <img class="img-responsive project-image" src="images/Slide1.JPG" alt="">

                <div class="hover-mask">
                    <h2 class="project-title">Multiplication</h2>

                    <p>3rd Grade - Mrs. Ferebee</p>
                </div>
                <div class="sr-only project-description"
                     data-images="images/Slide1.JPG,images/Slide2.JPG,images/Slide3.JPG,images/Slide4.JPG,images/Slide5.JPG,images/Slide6.JPG,images/Slide7.JPG,images/Slide8.JPG,images/Slide9.JPG,images/Slide10.JPG,images/Slide11.JPG,images/Slide12.JPG">
                    <p>Showing multiplication problems and answers using pictures inside of a grid.</p>
                </div>
            </article>
            <article class="project-item school">
                <img class="img-responsive project-image" src="images/house.jpg" alt="">

                <div class="hover-mask">
                    <h2 class="project-title">Camp Fire Math</h2>

                    <p>3rd Grade - Mrs. Ferebee</p>
                </div>
                <div class="sr-only project-description"
                     data-images="images/Problem1.jpg,images/Problem2.jpg,images/Problem3.jpg,images/Problem4.jpg,images/Answers.jpg">
                    <p>Math problems based on a scary Halloween story.</p>
                    <p>
                        <span>Listen to the problems here:</span>
                        <ul>
                            <li><a href="audio/Problem1.mp3" target="_blank">Problem 1</a></li>
                            <li><a href="audio/Problem2.mp3" target="_blank">Problem 2</a></li>
                            <li><a href="audio/Problem3.mp3" target="_blank">Problem 3</a></li>
                            <li><a href="audio/Problem4.mp3" target="_blank">Problem 4</a></li>
                            <li><a href="audio/Answers.mp3" target="_blank">Answers</a></li>
                        </ul>
                    </p>
                    <!--<p>-->
                    <!--<span>Listen to the problems here:</span>-->
                    <!--<div id="jquery_jplayer_1" class="jp-jplayer"></div>-->
                    <!--<div id="jp_container_1" class="jp-audio">-->
                        <!--<div class="jp-type-playlist">-->
                            <!--<div class="jp-gui jp-interface">-->
                                <!--<ul class="jp-controls">-->
                                    <!--<li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>-->
                                    <!--<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>-->
                                    <!--<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>-->
                                    <!--<li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>-->
                                    <!--<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>-->
                                <!--</ul>-->
                                <!--<div class="jp-progress">-->
                                    <!--<div class="jp-seek-bar">-->
                                        <!--<div class="jp-play-bar"></div>-->

                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="jp-playlist">-->
                                <!--<ul>-->
                                    <!--<li></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="jp-no-solution">-->
                                <!--<span>Update Required</span>-->
                                <!--To play the media you will need to either update your browser to a recent version or-->
                                <!--update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--</p>-->
                </div>
            </article>
        </div>
    </div>
</section>
