<!-- ==============================================
PORTFOLIO
=============================================== -->
<section id="portfolio" class="add-padding">

    <div class="container">

        <h1 class="big-text text-center scrollimation fade-in">My Projects</h1>

        <!--==== Portfolio Filters ====-->
        <div id="filter-works">
            <ul>
                <li class="active scrollimation fade-right d1">
                    <a href="#" data-filter="*">All</a>
                </li>
                <li class="scrollimation fade-right">
                    <a href="#" data-filter=".school">School</a>
                </li>
                <li class="scrollimation fade-right">
                    <a href="#" data-filter=".lego">Lego</a>
                </li>
            </ul>
        </div>
        <!--End portfolio filters -->

        <!--==== Project Preview ====-->
        <div id="project-preview">

            <span class="close-preview">&times;</span>

            <div id="project-slider" class="flexslider"></div>

            <h1 id="project-title"></h1>

            <div id="project-content"></div>

        </div>
        <!--Project Preview -->

    </div>

    <div class="container masonry-wrapper">

        <div id="projects-container">

            <!-- ==============================================
            SINGLE PROJECT ITEM
            =============================================== -->
            <article class="project-item school">

                <img class="img-responsive project-image" src="images/Slide1.JPG" alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Multiplication</h2><!--Project Title -->
                    <p>3rd Grade - Mrs. Ferebee</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description" data-images="images/Slide1.JPG,images/Slide2.JPG,images/Slide3.JPG,images/Slide4.JPG,images/Slide5.JPG,images/Slide6.JPG,images/Slide7.JPG,images/Slide8.JPG,images/Slide9.JPG,images/Slide10.JPG,images/Slide11.JPG,images/Slide12.JP,">

                    <p>Showing multiplication problems and answers using pictures inside of a grid.</p>

                </div>

            </article>
            <!-- ==============================================
            END PROJECT ITEM
            =============================================== -->
            <!--End Project Item -->
        </div>
        <!-- End projects -->
    </div>
    <!-- End container -->
</section>