<!-- ==============================================
PORTFOLIO
=============================================== -->
<section id="portfolio" class="add-padding">

    <div class="container">

        <h1 class="big-text text-center scrollimation fade-in">My Projects</h1>

        <!--==== Portfolio Filters ====-->
        <!--<div id="filter-works">-->
        <!--<ul>-->
        <!--<li class="active scrollimation fade-right d1">-->
        <!--<a href="#" data-filter="*">All</a>-->
        <!--</li>-->
        <!--<li class="scrollimation fade-right">-->
        <!--<a href="#" data-filter=".identity">Identity</a>-->
        <!--</li>-->
        <!--<li class="scrollimation fade-left">-->
        <!--<a href="#" data-filter=".logo">Logo</a>-->
        <!--</li>-->
        <!--<li class="scrollimation fade-left d1">-->
        <!--<a href="#" data-filter=".illustration">Illustration</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--End portfolio filters -->

        <!--==== Project Preview ====-->
        <div id="project-preview">

            <span class="close-preview">&times;</span>

            <div id="project-slider" class="flexslider"></div>

            <h1 id="project-title"></h1>

            <div id="project-content"></div>

        </div>
        <!--Project Preview -->

    </div>

    <div class="container masonry-wrapper">

        <div id="projects-container">

            <!-- ==============================================
            SINGLE PROJECT ITEM
            =============================================== -->
            <article class="project-item illustration">

                <img class="img-responsive project-image" src="/images/thumb-1.jpg" alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Multiplication</h2><!--Project Title -->
                    <p>3rd Grade - Mrs. Ferebee</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description" data-images="/images/full-10.jpg,/images/full-11.jpg">

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla
                        ac, varius
                        sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula.
                        Nulla suscipit
                        erat nibh, ut porttitor nisl dapibus eu.</p>

                    <p>Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit,
                        lacus enim
                        adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit
                        lectus eu enim
                        porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus
                        libero a
                        nibh.</p>

                    <p>Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus
                        mauris facilisis
                        eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim
                        egestas. Morbi
                        tincidunt rhoncus urna eget placerat.</p>

                    <p class="text-center"><a class="btn btn-color1" href="#external-link"><i
                            class="fa fa-arrow-right"></i>Visit
                        Website</a></p>

                </div>

            </article>
            <!-- ==============================================
            END PROJECT ITEM
            =============================================== -->
            <!--End Project Item -->
        </div>
        <!-- End projects -->
    </div>
    <!-- End container -->
</section>